<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>CRAWLΞTH</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css">

    <style>
        canvas {
            width: 100% !important;
        }

        .hero.is-primary.custom .title, .hero.is-primary.custom .subtitle {
            color: #363636
        }

        span[data-tooltip].tag {
            border-bottom: 0;
        }
    </style>
</head>
<body>

<section class="hero is-primary custom is-fullheight">
    <div class="hero-head">
        {% block head %}{% endblock %}
    </div>
    <div class="hero-body">
        {% block body %}{% endblock %}
    </div>
</section>


<footer>
</footer>

{% block scripts %}{% endblock %}

</body>
</html>