<nav class="navbar mb-6" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <span class="navbar-item">
            <span class="title is-uppercase pr-4">crawlΞth</span>
        </span>
        <a role="button" class="navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="navbar-menu is-dark has-background-dark" id="navMenu">
        <div class="navbar-start">
            {% include "extension/navigation.html" %}
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if (navbarBurgers.length > 0) {
            navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    el.classList.toggle('is-active');
                    document.getElementById(el.dataset.target).classList.toggle('is-active');
                });
            });
        }
    });
</script>