{%- macro arg(text, tooltip) -%}
    <span class="tag is-medium is-dark" data-tooltip="{{ tooltip }}">{{ text }}</span>
{%- endmacro -%}

{%- macro link() -%}
    <p class="is-family-code">
        <span class="has-text-grey-light">{{ url_for("home", _external=True) }}</span>
        {%- for v in varargs -%}
            {{- v -}}
            {%- if not loop.last -%}
                /
            {%- endif -%}
        {%- endfor -%}
    </p>
{%- endmacro -%}